{% extends "base.html" %}

{% block title %}Historial de Ventas{% endblock %}

{% block content %}
<div class="content-container">
    <h1>Historial de Ventas</h1>
    {% if ventas|length > 0 %}
    <div class="action-buttons">
        <h4>Ordenar por</h4>
        <a href="{{ url_for('venta.index') }}" class="btn btn-info">Todo</a>
        <a href="{{ url_for('venta.reembolsos') }}" class="btn btn-info">Ventas con Reembolso</a>
        <a href="{{ url_for('venta.exitoso') }}" class="btn btn-info">Ventas Exitosas</a> <!-- Nueva opción -->
        <a href="{{ url_for('venta.precio_alto') }}" class="btn btn-info">Precio Más Alto</a>
        <a href="{{ url_for('venta.cantidad_alta') }}" class="btn btn-info">Cantidad Más Alta</a>
        <a href="{{ url_for('venta.ingresos_altos') }}" class="btn btn-info">Ingresos Más Altos</a>
        <a href="{{ url_for('venta.reporte_pdf', id_ven=ventas[0].id_ven) }}" class="btn btn-primary">Reporte</a>


    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nro. Venta</th>
                <th>Proceso</th>
                <th>Producto</th>
                <th>Cliente</th>
                <th>Cantidad Vendida</th>
                <th>Precio</th>
                <th>Empleado</th>
                <th>Fecha</th>
                <th>Ingresos</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.id_ven }}</td>
                <td>{{ "Reembolso" if venta.compra_id is none else "Exitoso" }}</td>
                <td>{{ venta.nombre_producto }}</td>
                <td>{{ venta.nombre_cliente }}</td>
                <td>{{ venta.cant_vend }}</td>
                <td>${{ venta.precio_producto }}</td>
                <td>{{ venta.nombre_empleado }}</td>
                <td>{{ venta.fecha_venta.strftime('%Y-%m-%d') }}</td>
                <td>${{ venta.ingresos }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <!-- Fila para mostrar el total de ingresos -->
        <tfoot>
            <tr>
                <td colspan="8" class="text-right"><strong>Ingreso Total</strong></td>
                <td><strong>${{ total_ingresos }}</strong></td>
            </tr>
        </tfoot>
        
    </table>
    {% else %}
        <p class="text-muted">Debe registrar una compra.</p>
    {% endif %}
    
</div>
{% endblock %}
